<div class="container body-content">
    <div class="row">
        {{#each articles}}
            <div class="col-md-6">
                <article>
                    <header>
                        <a href="/article/details/{{this.id}}" class="btn btn-default btn-lg btn-block">
                            {{ this.title }}
                            <br />
                            <img src="{{this.imageUrl}}" width="222" height="333"/>
                        <p>
                            <div class="pull-left">
                            Brand name - {{this.brand}}
                            </div>
                            <div class="pull-right">
                                {{#each this.tags }}
                                    {{ this.name }}
                                {{/each}}
                            </div>
                            <br />
                            <div class="pull-left">
                                {{ this.content }}
                            </div>
                        </p>

                        </a>
                    </header>
                    <footer>
                        <br />
                    </footer>
                </article>
            </div>
        {{/each}}
    </div>
</div>