<div class="container body-content span=8 offset=2">
    <div class="well">
        <form class="form-horizontal" method="POST" action="/article/edit/{{id}}">
            <fieldset>
                <legend>Edit clothing type</legend>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="articleTitle">Name</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="articleTitle" placeholder="Name of clothing" value="{{title}}" name="title" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="articleContent">Description</label>
                    <div class="col-sm-6">
                        <textarea class="form-control" id="articleContent" rows="5" name="content" required>{{content}}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="articleImageUrl">Image URL</label>
                    <div class="col-sm-6">
                        <textarea class="form-control" id="articleImageUrl" rows="5" name="imageUrl" required>{{imageUrl}}
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="articleImage2Url">Additional image URL</label>
                    <div class="col-sm-6">
                        <textarea class="form-control" id="articleImage2Url" rows="5" name="image2Url" required>{{image2Url}}
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="articleWhereToFind">Where to find ?</label>
                    <div class="col-sm-6">
                        <textarea class="form-control" id="articleWhereToFind" rows="5" name="whereToFind" required>{{whereToFind}}
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="tags">Price</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="tags" name="tags"
                               value="{{ tagNames }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" form="articleBrand">Brand name</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="articleBrand" name="brand" value="{{brand}}" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="category">Category</label>
                    <div class="col-sm-6">
                        <select class="form-control" id="select" name="category">
                            {{#each categories}}
                                <option value="{{this.id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <a href="/" class="btn btn-default">Cancel</a>

                        <button type="submit" href="/article/edit/{{id}}" class="btn btn-success">Edit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>